* { box-sizing: border-box; }

img { max-width: 100%; vertical-align: middle; }

input { border: none; font-size: inherit; }
input:focus, input:focus-visible { border: none; box-shadow: none; }

input:-webkit-autofill, input:-webkit-autofill:focus { transition: background-color 600000s 0s, color 600000s 0s; }

i { font-style: italic; }

label { border-bottom: 1px solid #fff; display: flex; white-space: nowrap; }
label input { background-color: transparent; flex: 2; color: #fff; font-size: 22px; font-weight: 300; padding-left: 20px; outline: none; }
label input.error { box-shadow: 0 0 3px red; }

ul { list-style-type: none; padding: 0; }

.txt-r { text-align: right; }

.txt-c { text-align: center; }

.txt-l { text-align: left; }

a { opacity: 1; transition: 0.2s; }
a:hover { opacity: 0.9; transition: 0.2s; }

@keyframes flickerAnimation { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@font-face { font-family: 'Quattrocento Roman'; src: url(../fonts/QuattrocentoRoman.otf); src: url(../fonts/QuattrocentoRoman.ttf), url(../fonts/QuattrocentoRoman.eot?#iefix); }
body { font-family: 'Quattrocento Roman'; font-size: 14px; line-height: normal; margin: 0 auto; }

.wrapper { background: url(../images/bg-body.jpg) top center no-repeat; background-size: cover; }

.kv { position: relative; margin: 0 auto; background: url(../images/bg-kv.jpg) bottom center no-repeat; background-size: cover; min-height: 100vh; display: flex; align-items: center; }
.kv-group { width: 55%; max-width: 1040px; padding-top: 10vh; margin: 0 auto; }
.kv-logo { max-width: 57.6%; margin: 0 auto; }
.kv-btn { display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; }
.kv-btn .btn { width: 46.4%; }
.kv-download { padding-bottom: 35px; }
.kv-download .c-txt img { width: 376px; }
.kv-download ul { display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; width: 88%; margin: 20px auto 16px; }
.kv-download ul li { width: 22.4%; }
.kv-download .btn-down { padding-top: 15px; animation: flickerAnimation 2.5s infinite; }
.kv-download .btn-down img { width: 11%; }

.about { position: relative; }
.about-img img { width: 100%; }
.about-doc { position: absolute; margin-left: auto; width: 40%; z-index: 1; bottom: 15%; right: 12%; color: #fff; }
.about-doc .c-ttl img { width: 64%; }
.about-doc .c-content { background: url(../images/bg-1.png) center no-repeat; padding: 16% 15% 16% 19%; background-size: 100% 100%; }
.about-doc .c-content p { margin-top: 0; margin-bottom: 20px; }
.about-doc .c-content .c-txt { position: relative; }
.about-doc .c-content .c-txt:before { content: ""; width: 3px; height: 100%; background: url(../images/line-red.png) left top repeat-y; opacity: .65; left: -3%; top: 0; position: absolute; }
.about-rock { position: absolute; bottom: 0; right: -24%; width: 100%; text-align: right; z-index: 2; }
.about-rock img { width: 24vw; }

.hero-list { max-width: 900px; margin: 0 auto; background-size: 100% auto; position: relative; }
.hero-list .owl-item > div { padding-top: 5px; transition: all 0.5s ease; text-align: center; }
.hero-list .owl-carousel { position: absolute; top: 0; left: 0; height: 100%; }
.hero-list .owl-carousel .owl-item img { width: auto; max-width: 100%; display: inline-block; }
.hero-list .owl-carousel .owl-item.active div { padding-top: 30px; margin: 0 10%; }
.hero-list .owl-carousel .owl-item.center > div { padding-top: 50px; margin: 0; }

.owl-carousel .owl-nav { position: absolute; top: 35%; width: 120%; left: -10%; visibility: hidden; display: flex; }
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next { visibility: visible; width: 46px; height: 114px; background: url(../images/btn-left.png) center no-repeat; background-size: 100% auto; opacity: 0.65; transition: 0.2s; }
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover { opacity: 1; transition: 0.2s; }
.owl-carousel .owl-nav button.owl-next { background-image: url(../images/btn-right.png); margin-right: 0; margin-left: auto; }

.road-map { width: 84%; padding-top: 5vh; margin: 0 auto; }
.road-map .c-ttl { padding-top: 10vh; padding-bottom: 3vh; }
.road-map .c-ttl img { width: 430px; max-width: 27%; }
.road-map .map-ttl { max-width: 1312px; width: 82%; margin: 0 auto; }
.road-map .group-map { display: none; }

.qa { padding-top: 15vh; color: #fff; line-height: 22px; position: relative; }
.qa .qa-content { width: 67%; margin: 0 auto; }
.qa .c-ttl img { max-width: 212px; width: 17%; }
.qa .c-txt { position: relative; font-size: 20px; margin-left: 14px; margin-bottom: 28px; }
.qa .c-txt:before { content: ""; width: 3px; height: 100%; background: red; opacity: .65; left: -3.3%; top: 0; position: absolute; }
.qa .c-img { width: 76.6%; position: absolute; right: -23.4%; border-top: 0; bottom: -13%; z-index: 1; overflow: hidden; }
.qa .c-img img { max-width: 650px; }
.qa-list { width: 56%; background-size: cover; padding: 6.5% 0% 4% 0%; margin-top: -17px; position: relative; z-index: 4; }
.qa-list .c-expand { margin-bottom: 32px; }
.qa-list .c-expand .c-head { cursor: pointer; text-transform: uppercase; font-size: 22px; margin-bottom: 12px; }
.qa-list .c-expand .c-content { display: none; font-size: 18px; }
.qa-list .btn-more { padding-top: 2vh; }
.qa-list .btn-more img { width: 36%; cursor: pointer; }
.qa-img { position: absolute; bottom: -5%; right: 10%; width: 50%; text-align: right; z-index: 0; }
.qa-img img { width: 100%; }

.partner { padding-bottom: 11%; }
.partner .c-ttl { padding-top: 10%; width: 45%; margin: 0 auto; padding-bottom: 6.3%; position: relative; z-index: 1; }
.partner .partner-list { width: 80%; margin: 0 auto; }
.partner .partner-list .owl-dots { text-align: center; padding-top: 50px; }
.partner .partner-list .owl-dots button.owl-dot.active, .partner .partner-list .owl-dots button.owl-dot:hover { background: url(../images/partner/btn-1.png) center no-repeat; opacity: 1; transition: 0.2s; }
.partner .partner-list .owl-dots button.owl-dot { background: url(../images/partner/btn-2.png) center no-repeat; height: 32px; width: 32px; margin: 0 5px; border: none; opacity: 0.6; transition: 0.2s; }

@media (min-width: 641px) { .wrapper { min-width: 1200px; } }
@media (max-width: 640px) { body { line-height: 20px; }
  .kv { display: block; height: auto; min-height: 0; }
  .kv-logo { max-width: 100%; }
  .kv-group { padding-top: 5vh; }
  .kv-btn { display: block; width: 80%; margin: 0 auto 0; }
  .kv-btn .btn { width: 100%; margin: 0 auto; }
  .kv-logo { height: auto; }
  .kv-logo img { margin: 0 -20%; max-width: none; width: 120%; }
  .kv-download ul { width: 100%; }
  .kv-download ul li { width: 45%; margin-bottom: 5%; }
  .kv-download .btn-down { padding-top: 0; }
  .about { padding: 5vh 15px 0; background: none; }
  .about-img { display: none; }
  .about .c-ttl img { width: 150px; }
  .about-doc { width: 100%; position: static; }
  .about-doc .c-content { padding-top: 26%; padding-bottom: 14%; }
  .about-rock { margin-top: -20%; width: 100%; position: relative; display: none; }
  .about-rock img { width: 77vw; margin-right: -15px; }
  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next { width: 30px; }
  .hero { background-position: center; background-size: 100% auto; padding: 10% 0 0; }
  .hero-list { max-width: 80%; height: auto; }
  .road-map { width: 100%; }
  .road-map .c-ttl { padding: 3vh 0 2vh; }
  .road-map .map-ttl { width: 100%; }
  .road-map .c-img.map { display: none; }
  .road-map .group-map { display: block; width: 80%; margin: 0 auto; padding-top: 1vh; }
  .qa { padding: 5vh 15px 0; }
  .qa .qa-content { width: 100%; }
  .qa .c-ttl { padding-bottom: 20px; }
  .qa .c-ttl img { max-width: 140px; }
  .qa .qa-list { width: 100%; }
  .qa .qa-list .c-expand .c-head { font-size: 18px; }
  .qa .btn-more img { width: 50%; }
  .qa-rock, .qa .c-img { display: none; }
  .qa .qa-img { position: static; width: 100%; }
  .partner .c-ttl { width: 70%; }
  .partner .owl-carousel .owl-item div { text-align: center; }
  .partner .owl-carousel .owl-item img { width: auto; display: inline-block; } }
